// Global variables
$mobile-break-point: 950px;
// App color pallet
$color-primary: #576766;
$color-primary-200: #3f4645;
$color-accent: #eaeff0;
$color-accent-200: #dfe7e8;
$color-accent-400: #cfdadb;
$color-accent-800: #919fa0;
